a:link
{
	color:#121481;
	text-decoration:none;
}
a:visited
{
	color:#B51B75;
}
a:hover
{
	color:#FF6500;
	font-weight:bold;
}
a:Active
{
	color:#151515;
	font-style:italic;
	text-decoration:underline;
}